@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', 'Inter';
}

body{
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
}

/* CABEÇALHO */
.cabecalho{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1rem 4rem;
  max-width: 1200px;
  margin: 20px auto;
}

.cabecalho h2{
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 40px;
  background: linear-gradient(to bottom, #0E333D, #18697d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.cabecalho .menu a{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 20px;
    color: #0E333D;
}

.menu{
  display: grid;
  justify-self: end;
  grid-auto-flow: column;
  gap: 2rem;
}

.logo1{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-icon1 img{
  width: 32px;
  height: 32px;
}

.logo-saphire1{
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(to bottom, #0E333D, #18697d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}



/* MAIN DAS SECTIONS */
.main{
  display: grid;
  gap: 5rem;
  padding: 0 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* TODAS AS SECTIONS */
.section1,
.section2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
}

.section1 h2, .section2 h2, .section3 h2{
  font-family: Roboto;
  font-weight: 700;
  font-style: Medium;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -2%;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #0E333D, #18697d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.section3 h3{
  font-family: Roboto;
  font-weight: 700;
  font-style: Medium;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: -2%;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #0E333D, #18697d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.section1 p, .section2 p, .section3 p{
  font-family: Roboto;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
}




/* SECTION1 */
.btn-container{
  position: relative;
  display: inline-block;
}

.btn-pesquisar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #0E333D;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 4px;
  width: 230px;
  height: 44px;
  text-align: center;

  margin-top: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;

  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  z-index: 2;
}

.btn-pesquisar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 44px;
  border-radius: 50px;
  z-index: 1;
  background: linear-gradient(90deg, #ffffff00 0%, #6F7E83 100%);

  transform: translateX(190px);
}



/* SECTION2 */
.btn-container2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: #0E333D;
  border-radius: 50px;
  padding: 20px 4px;
  width: 230px;
  height: 44px;
  text-align: center;

  margin-top: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-lermais{
    background-color: transparent;
    color: white;
    border: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}



/* SECTION3 */
.section3{
  display: grid;
  gap: 2rem;
}

.section3 .post{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.section3 .texto p{
    font-family: Roboto;
    font-weight: 300;
    font-style: Light;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: 0%;
    padding: 0 50px 0 0;
}

.posts{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.post{
  display: grid;
  grid-template-columns: 350px 1fr;
  align-items: start;
  gap: 4rem;
}



/* SECTION4 */
.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: linear-gradient(180deg, #0E333D 0%, #195E70 100%);
  color: #fff;
  border-radius: 50px;
  padding: 4rem 2rem;
  width: 1195px;
  height: 448px;
  margin-bottom: 100px;
}

.section4 h2{
  font-family: Roboto;
  font-weight: 700;
  font-style: Medium;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -2%;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.section4 p{
    font-family: Roboto;
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    color: white;
    text-align: center;
}

.btn-container3{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50px;
  width: fit-content;
  margin: 2rem auto 0 auto;
  padding: 1rem 2rem;
}

.btn-inscrever{
  background-color: transparent;
  color: black;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}



/* IMAGENS */
.casa-1 img{
  object-fit: cover;
  width: 450px;
  height: 500px;
  border-radius: 40px;
}

.casa-2 img{
    width: 500px;
    height: auto;
    top: 159px;
    left: 707px;
    border-radius: 40px;
    opacity: 1;
}

.casa-3 img, .casa-4 img{
    width: 380px;
    height: auto;
    top: 1817px;
    left: 120px;
    border-radius: 40px;
    opacity: 1;
}




/* RODAPÉ */
.rodape{
  display: grid;
  gap: 2rem;
  padding: 4rem 3rem; /* mais suave e equilibrado */
  background-color: #18596B;
}

.rodape .menu{
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  align-items: start;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.rodape .esquerda{
  display: grid;
  gap: 1rem;
}

.rodape .logo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rodape .logo h2{
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}

.rodape .menu a{
  font-family: Roboto;
  font-weight: 200;
  font-style: Light;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}

.rodape ul{
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.rodape .esquerda p{
  font-family: Roboto;
  font-weight: 200;
  font-style: Light;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}

.rodape .direita{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.rodape .infos{
  list-style: none;
  display: grid;
  gap: 0.5rem;
}

.rodape .linha{
  display: flex;
  justify-content: center;
}

.rodape .copy{
  text-align: center;
  color: white;
}
